.blog-support-thread {
	margin-top: 30px;

.boxTitle {
	background: #fafafa;
	background-image: url(/media/2/);
    color: #9cacbb;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px;
	border-top: 3px solid #F8E2BD !important;
    border-bottom: 1px solid #d9dfe5;
    border-radius: 8px 8px 0 0;
	text-align: center;
}
	
.boxContent {
	border: 1px solid #e5e9f2;
    border-radius: 0 0 8px 8px;
    margin-top: 0 !important;
	padding: 20px;
}
}
