#tpl_marketplace_entry {

.jsCommentAdd .userAvatarImage {
    display: none;
 }

 .commentList>li.jsCommentAdd {
    padding: 20px 0 0 0 !important;
}

.commentList .jsCommentResponseAdd {
    padding: 0 !important;

.userAvatarImage {
    display: none;
}
}
    
}
