#tpl_rdb_recipe {

.col-md-6,
.col-md-12 {
    margin-bottom: 20px;
}
    
    
.rezept-buttons .button {
    margin-bottom: 10px;
}
    
.rezept-bottom {
    border-top: 3px solid #F8E2BD !important;
    border: 1px solid #e5e9f2;
    margin: 1px;
    padding: 20px;
    border-radius: 8px;
    background: #fafafa;
}	

}
    
